@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin : 0
  }
  a {
    text-decoration: none;
  }
}

.hyperlink {
  text-decoration: none;
  color : black
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
}
 
pre [data-line] {
  padding: 0 1rem;
}
